.seasonalApiOutput {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // width: 1600px;
}

.dishImage {
    margin-top: -44px;
    margin-bottom: 10px;
    width:500px;
    height:400px;
    grid-column-start: 2;
}
.dishContent {
    font-size: 24px;
    grid-column-start: 4;
    grid-column-end: 10;
}

.dishTitle {
    grid-column-start:4;
    grid-column-end: 6;
    font-size: 23px;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
    font-family: 'Lexend Zetta', sans-serif;
    width: 30vw;
    font-weight: 600;
}   

@media (min-width: 1113px) and (max-width: 1800px){
    .mobileApiOutput {
        display:none;
    }
}    

@media (min-width: 835px) and (max-width: 1112px){
    .mobileApiOutput {
        margin-top: 30px;
    }
    
    .seasonalApiOutput {
        display:none;
    }
    
    .mobileDishImage {
        margin-bottom: 10px;
        height:450px;
        width:80vw;
        margin-left: 35px;
    }
    
    .mobileDishContent {
        margin-top: 15px;
        font-size: 22px;
        grid-column-start: 4;
        grid-column-end: 10;
        margin-bottom: 30px;
        width: 80vw;
        margin-left: 40px;
    }
    
    .mobileDishTitle {
        margin-top: 20px;
        grid-column-start:4;
        grid-column-end: 6;
        font-size: 27px;
        margin-bottom: 25px;
        font-family: 'Lexend Zetta', sans-serif;
        width: 60vw;
        font-weight: 600;
        }
}    

  

@media (min-width: 569px) and (max-width: 834px){

.mobileApiOutput {
    margin-top: -10px;
}

.seasonalApiOutput {
    display:none;
}

.mobileDishImage {
    margin-bottom: 10px;
    height:250px;
    width:80vw;
    margin-left: 35px;
}

.dishTitle {
    margin-top: 15px;
    grid-column-start:4;
    grid-column-end: 6;
    font-size: 23px;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
    font-family: 'Lexend Zetta', sans-serif;
    width: 30vw;
    font-weight: 600;
    margin-left: 25px;
}

.mobileDishContent {
    margin-top: 15px;
    font-size: 22px;
    grid-column-start: 4;
    grid-column-end: 10;
    margin-bottom: 30px;
    width: 80vw;
    margin-left: 40px;
}

.mobileDishTitle {
    margin-top: 20px;
    grid-column-start:4;
    grid-column-end: 6;
    font-size: 18px;
    margin-bottom: 25px;
    font-family: 'Lexend Zetta', sans-serif;
    width: 60vw;
    font-weight: 600;
    }
}

@media (min-width: 471px) and (max-width: 568px){

    .mobileApiOutput {
        margin-top: -10px;
    }

    .seasonalApiOutput {
        display:none;
    }

    .mobileDishImage {
        margin-bottom: 10px;
        height:250px;
        width:80vw;
        margin-left: 35px;
    }

    .dishTitle {
        margin-top: 15px;
        grid-column-start:4;
        grid-column-end: 6;
        font-size: 23px;
        margin-bottom: 25px;
        border-bottom: 1px solid black;
        font-family: 'Lexend Zetta', sans-serif;
        width: 30vw;
        font-weight: 600;
        margin-left: 25px;
    }

    .mobileDishContent {
        margin-top: 15px;
        font-size: 22px;
        grid-column-start: 4;
        grid-column-end: 10;
        margin-bottom: 30px;
        width: 80vw;
        margin-left: 40px;
    }

    .mobileDishTitle {
        margin-top: 20px;
        grid-column-start:4;
        grid-column-end: 6;
        font-size: 18px;
        margin-bottom: 25px;
        font-family: 'Lexend Zetta', sans-serif;
        width: 60vw;
        font-weight: 600;
    }
}

@media (min-width: 415px) and (max-width: 470px){
    .mobileDishImage {
        margin-bottom: 10px;
        height:250px;
        width:80vw;
        margin-left: 35px;
    }

    .seasonalApiOutput {
        display:none;
    }

    .mobileDishContent {
        margin-top: 15px;
        font-size: 22px;
        grid-column-start: 4;
        grid-column-end: 10;
        margin-bottom: 30px;
        width: 80vw;
        margin-left: 50px;
    }

    .mobileDishTitle {
        margin-top: 20px;
        grid-column-start:4;
        grid-column-end: 6;
        font-size: 18px;
        margin-bottom: 25px;
        font-family: 'Lexend Zetta', sans-serif;
        width: 60vw;
        font-weight: 600;
        margin-left: 20px;
    }
}

@media (min-width: 321px) and (max-width: 414px){
    .mobileDishImage {
        margin-bottom: 10px;
        height:250px;
        width:80vw;
        margin-left: 35px;
    }

    .seasonalApiOutput {
        display:none;
    }

    .mobileDishContent {
        margin-top: 0px;
        font-size: 22px;
        grid-column-start: 4;
        grid-column-end: 10;
        margin-bottom: 30px;
        width: 80vw;
        margin-left: 50px;
    }

    .mobileDishTitle {
        margin-top: 20px;
        grid-column-start:4;
        grid-column-end: 6;
        font-size: 18px;
        margin-bottom: 25px;
        font-family: 'Lexend Zetta', sans-serif;
        width: 60vw;
        font-weight: 600;
        margin-left: 20px;
    }
}    

@media screen and (max-width: 320px) {
    .mobileApiOutput {
        padding-left: 20px;
    }
    .mobileDishImage {
        margin-bottom: 10px;
        height:250px;
        width:80vw;
        margin-left: 15px;
    }

    .mobileDishContent {
        margin-top: 15px;
        font-size: 18px;
        grid-column-start: 4;
        grid-column-end: 10;
        margin-bottom: 30px;
        width: 230px;
        margin-left: 30px;
    }

    .mobileDishTitle {
        margin-top: 20px;
        grid-column-start:4;
        grid-column-end: 6;
        font-size: 18px;
        margin-bottom: 25px;
        font-family: 'Lexend Zetta', sans-serif;
        width: 60vw;
        font-weight: 600;
        margin-left: 20px;
    }

    .seasonalApiOutput {
        display:none;
    }
}    