.seasonalApiOutput {
    display: grid;
    grid-template-columns: 80px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    // width: 1600px;
}

.dishImage {
    margin-top: -44px;
    margin-bottom: 10px;
    width:500px;
    height:400px;
    grid-column-start: 2;
}
.dishContent {
    font-size: 24px;
    grid-column-start: 4;
    grid-column-end: 10;
}

.dishTitle {
    grid-column-start:4;
    grid-column-end: 6;
    font-size: 23px;
    margin-bottom: 25px;
    border-bottom: 1px solid black;
    font-family: 'Lexend Zetta', sans-serif;
    width: 30vw;
    font-weight: 600;
}

@media screen and (max-width: 1052px) {
    .dishImage {
        margin-top: -44px;
        margin-bottom: 10px;
        width:300px;
        height:300px;
        grid-column-start: 2;
    }

    .dishContent {
        margin-top: 15px;
        font-size: 24px;
        grid-column-start: 4;
        grid-column-end: 10;
    }
    
    .dishTitle {
        margin-top: 15px;
        grid-column-start:4;
        grid-column-end: 6;
        font-size: 23px;
        margin-bottom: 25px;
        border-bottom: 1px solid black;
        font-family: 'Lexend Zetta', sans-serif;
        width: 30vw;
        font-weight: 600;
    }
}    

@media screen and (min-width: 771px) {
    .mobileApiOutput {
        display: none;
    }
}   

@media screen and (max-width: 770px) {
    .seasonalApiOutput {
        display: none;
    }

    .mobileApiOutput {
        margin-top: 10px;
    }

    .mobileDishTitle {
        margin-bottom: 60px;
        margin-left: 50px;
        grid-column-start: 4;
        font-family: 'Lexend Zetta', sans-serif;
        font-size: 30px;
        text-align: center;
    }

    .mobileDishImage {
        margin-top: -44px;
        margin-bottom: 10px;
        margin-left: 95px;
        width:550px;
        height:300px;
        grid-column-start: 2;
        z-index: 1;
    }

    .mobileDishContent {
        margin-top: 15px;
        font-size: 24px;
        grid-column-start: 4;
        grid-column-end: 10;
        margin-bottom: 30px;
        width: 500px;
        margin-left: 120px;
    }
}    

@media screen and (max-width: 570px) {
    .mobileApiOutput {
        margin-top: 10px;
    }

    .mobileDishTitle {
        margin-bottom: 60px;
        margin-left: -70px;
        grid-column-start: 4;
        font-family: 'Lexend Zetta', sans-serif;
        font-size: 20px;
        text-align: center;
    }

    .mobileDishImage {
        margin-top: -44px;
        margin-bottom: 10px;
        margin-left: 0px;
        width:30vw;
        height:100px;
        grid-column-start: 2;
        z-index: 1;
    }

    .mobileDishContent {
        margin-top: 15px;
        font-size: 24px;
        grid-column-start: 4;
        grid-column-end: 10;
        margin-bottom: 30px;
        width: 100px;
        margin-left: 50px;
    }
}    