* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.header {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100vh;
}

.process {
    grid-column-start: 1;
    grid-column-end: 9;
    height: 40vh;
}

.gsaphero {
    grid-column-start: 1;
    grid-column-end: 9;
    height: 60vh;
}

.reservations {
    grid-column-start: 1;
    grid-column-end: 9;
    height: 40vh;
}

.menu {
    grid-column-start: 1;
    grid-column-end: 9;
    height: 35vh;
}

.seasonal {
    grid-column-start: 1;
    grid-column-end: 9;
    height: 50vh;
}

.gallery {
    grid-column-start: 1;
    grid-column-end: 9;
    height: 60vh;
}

.hours {
    grid-column-start: 1;
    grid-column-end: 9;
    height: 30vh;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 9;
    height: 20vh;
}

#ot-widget-container1{
    display:none;
}

#ot-widget-container2{
    display:none;
}

#ot-widget-container3{
    display:none;
}

#ot-widget-container4{
    display:none;
}

#ot-widget-container5{
    display:none;
}

#ot-widget-container6{
    display:none;
}

#ot-widget-container7{
    display:none;
}

#ot-widget-container11{
    display:none;
}

#ot-widget-container8{
    display:none;
}

#ot-widget-container9{
    display:none;
}

#ot-widget-container10{
    display:none;
}

#ot-widget-container11{
    display:none;
}

#ot-widget-container12{
    display:none;
}