.hours {
    background-color:#525962;
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    height: 470px;
    padding: 30px;
}

#hoursCard {
    background-color: #edeec9; 
    grid-column-start: 1;
    grid-column-end: 14;
    -webkit-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
    -moz-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
    box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
    z-index: 4;
    height: 380px;
}

#hoursCardInner {
    background-color: #30332e; 
    height:360px;
    grid-column-start: 1;
    grid-column-end: 14;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom: 10px;
    z-index:1;
}

.hoursContent {
    grid-column-start: 1;
    grid-row-start: 1;
    color: #edeec9;
    padding: 10px;
}

.locale {
    margin-left: 290px;
}

#locale1{
    margin-left: 290px
}
.map {
    grid-column-start: 15;
    grid-column-end: 29;
}

@media screen and (max-width: 1410px) {
    .locale {
        margin-left: 280px;
    }
    
    #locale1{
        margin-left: 280px
    }
}    

@media screen and (max-width: 1234px) {
    .locale {
        margin-left: 140px;
    }
    
    #locale1{
        margin-left: 140px
    }
} 
@media screen and (min-width: 841px) {

.mobileMap {
    display: none;
}

}

@media screen and (max-width: 840px) {
    .hours {
        background-color:#525962;
        display: grid;
        grid-template-columns: repeat(28, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 970px;
        padding: 30px;
    }
    
    #hoursCard {
        background-color: #edeec9; 
        grid-column-start: 6;
        grid-column-end: 24;
        -webkit-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        -moz-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        z-index: 4;
        height: 380px;

    }
    
    #hoursCardInner {
        background-color: #30332e; 
        height:360px;
        grid-column-start: 1;
        grid-column-end: 14;
        margin-left:10px;
        margin-right:10px;
        margin-top:10px;
        margin-bottom: 10px;
        z-index:1;

    }
    
    .hoursContent {
        grid-column-start: 1;
        grid-row-start: 1;
        color: #edeec9;
        padding: 10px;

    }
    
    .locale {
        margin-left: 140px;
    }
    
    #locale1{
        margin-left: 140px;
    }
    .map {
        grid-column-start: 6;
        grid-column-end: 24;
        display:none;
    }

    .mobileMap {
        grid-row-start: 2;
        grid-column-start: 6;
    }
}  

@media screen and (max-width: 570px) {
        .hours {
        background-color:#525962;
        display: grid;
        grid-template-columns: repeat(28, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 970px;
        padding: 30px;
    }
    
    #hoursCard {
        background-color: #edeec9; 
        grid-column-start: 6;
        grid-column-end: 24;
        -webkit-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        -moz-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        z-index: 4;
        height: 380px;
        margin-left: -0px;
    }
    
    #hoursCardInner {
        background-color: #30332e; 
        height:360px;
        grid-column-start: 1;
        grid-column-end: 14;
        margin-left:10px;
        margin-right:10px;
        margin-top:10px;
        margin-bottom: 10px;
        z-index:1;

    }
    
    .hoursContent {
        grid-column-start: 1;
        grid-row-start: 1;
        color: #edeec9;
        padding: 10px;

    }
    
    .locale {
        margin-left: 140px;
    }
    
    #locale1{
        margin-left: 140px;
    }
    .map {
        grid-column-start: 6;
        grid-column-end: 24;
        display:none;
    }

    .mobileMap {
        grid-row-start: 2;
        margin-top: 20px;
        margin-left: -0px;
    }
}    