.hours {
    background-color:#525962;
    display: grid;
    grid-template-columns: repeat(28, 1fr);
    height: 480px;
    padding: 30px;
}

#hoursCard {
    background-color: #edeec9; 
    grid-column-start: 1;
    grid-column-end: 14;
    -webkit-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
    -moz-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
    box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
    height: 380px;
}

#hoursCardInner {
    background-color: #30332e; 
    height:360px;
    grid-column-start: 1;
    grid-column-end: 14;
    margin-left:10px;
    margin-right:10px;
    margin-top:10px;
    margin-bottom: 10px;
}

.hoursContent {
    grid-column-start: 1;
    grid-row-start: 1;
    color: #edeec9;
    padding: 10px;
}

.locale {
    margin-left: 290px;
}

#locale1{
    margin-left: 290px
}
.map {
    grid-column-start: 15;
    grid-column-end: 29;
}

@media screen and (max-width: 1410px) {
    .locale {
        margin-left: 280px;
    }
    
    #locale1{
        margin-left: 280px
    }
}    

@media screen and (max-width: 1234px) {
    .locale {
        margin-left: 140px;
    }
    
    #locale1{
        margin-left: 140px
    }
} 
@media screen and (min-width: 841px) {

.mobileMap {
    display: none;
}

}

@media screen and (max-width: 840px) {
    .hours {
        background-color:#525962;
        display: grid;
        grid-template-columns: repeat(28, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 970px;
        padding: 30px;
    }

    .hoursCardContainer {
        
    }
    
    #hoursCard {
        background-color: #edeec9; 
        grid-column-start: 6;
        grid-column-end: 24;
        -webkit-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        -moz-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        height: 380px;

    }
    
    #hoursCardInner {
        background-color: #30332e; 
        height:360px;
        grid-column-start: 1;
        grid-column-end: 14;
        margin-left:10px;
        margin-right:10px;
        margin-top:10px;
        margin-bottom: 10px;

    }
    
    .hoursContent {
        grid-column-start: 1;
        grid-row-start: 1;
        color: #edeec9;
        padding: 10px;

    }
    
    .locale {
        margin-left: 140px;
    }
    
    #locale1{
        margin-left: 140px;
    }
    .map {
        grid-column-start: 6;
        grid-column-end: 24;
        display:none;
    }

    .mobileMap {
        grid-row-start: 2;
        grid-column-start: 6;
    }
}  

@media (min-width: 1301px) and (max-width: 2000px){
    .hours {
        background-color:#525962;
        height: 490px;
        padding: 30px;
        margin-top: -1px;
        margin-bottom: -11px
    }

    .hoursCard {
        margin-top: 200px;
    }

    .map {
        margin-top: 0px;
    }
}  

@media (min-width: 1181px) and (max-width: 1300px){
    .hours {
        background-color:#525962;
        height: 470px;
        padding: 30px;
        margin-top: -130px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1101px) and (max-width: 1180px){
    .hours {
        background-color:#525962;
        height: 470px;
        padding: 30px;
        margin-top: -170px;
        margin-bottom: 30px;
    }
}    

@media (min-width: 981px) and (max-width: 1100px){
    .hours {
        background-color:#525962;
        height: 470px;
        padding: 30px;
        margin-top: -170px;
        margin-bottom: 30px;
    }
}       

@media (min-width: 813px) and (max-width: 980px){
    .hours {
        background-color:#525962;
        height: 470px;
        padding: 30px;
        margin-top: -220px;
        margin-bottom: 30px;
    }

    .mobileMap {
        margin-left: -65px;
        margin-top: 20px;
        width: 400px;
    }
    .locale {
        margin-left: 20px;
    }
    
    #locale1{
        margin-left: 20px;
    }
}    

@media (min-width: 551px) and (max-width: 812px){
    .hours {
        background-color:#525962;
        height: 770px;
        padding: 30px;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .mobileMap {
        margin-left: -65px;
        margin-top: 20px;
        width: 400px;
    }
    .locale {
        margin-left: 20px;
    }
    
    #locale1{
        margin-left: 20px;
    }
}    

@media (min-width: 471px) and (max-width: 550px){
    .mobileMap {
        margin-left: -25px;
        margin-top: -20px;
        width: 400px;
    }

    .locale {
        margin-left: 20px;
    }
    
    #locale1{
        margin-left: 20px;
    }
    .map {
        grid-column-start: 6;
        grid-column-end: 24;
        display:none;
    }

    .mobileMap {
        grid-row-start: 2;
        grid-column-start: 6;
    }
}

@media (min-width: 471px) and (max-width: 550px){
    #hoursCard {
        background-color: #edeec9; 
        grid-column-start: 1;
        grid-column-end: 14;
        -webkit-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        -moz-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        height: 380px;
        margin-top: -40px;
        margin-left: 65px;
        width: 370px;
    }
    
    .mobileMap {
        margin-left: -15px;
        margin-top: 20px;
        width: 400px;
    }

    .hours {
        background-color:#525962;
        height: 670px;
        padding: 30px;
        margin-top: -1px;
    }

    .locale {
        margin-left: 10px;
    }
    
    #locale1{
        margin-left: 10px;
    }
}    

@media (min-width: 376px) and (max-width: 470px){
    #hoursCard {
        background-color: #edeec9; 
        grid-column-start: 1;
        grid-column-end: 14;
        -webkit-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        -moz-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        height: 380px;
        margin-top: -140px;
        margin-left: -5px;
        width: 365px;
    }
    
    .mobileMap {
        margin-left: -10px;
        margin-top: 20px;
        width: 400px;
    }

    .hours {
        background-color:#525962;
        height: 570px;
        padding: 30px;
        margin-bottom: 90px;
    }

    .locale {
        margin-left: 10px;
    }
    
    #locale1{
        margin-left: 10px;
    }
}

@media (min-width: 320px) and (max-width: 375px){
        .hours {
        background-color:#525962;
        display: grid;
        grid-template-columns: repeat(28, 1fr);
        height: 560px;
        padding: 30px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    
    .mobileMap {
        margin-left: -15px; 
        margin-top: 30px;
    }

    .hoursContent {
        grid-column-start: 1;
        grid-row-start: 1;
        color: #edeec9;
        padding: 10px;
        font-size: 14px;
    }

    #hoursCard {
        background-color: #edeec9; 
        grid-column-start: 1;
        grid-column-end: 14;
        -webkit-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        -moz-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        height: 380px;
        margin-top: -140px;
        margin-left: -15px;
        width: 340px;
    }
}



@media (min-width: 300px) and (max-width: 320px){
    #hoursCard {
        background-color: #edeec9; 
        grid-column-start: 1;
        grid-column-end: 14;
        -webkit-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        -moz-box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        box-shadow: 10px 9px 5px 0px rgba(48,51,46,0.43);
        height: 380px;
        margin-top: -140px;
        margin-left: -30px;
    }
    
    .mobileMap {
        margin-left: -5px;
        margin-top: 20px;
    }

    .locale {
        margin-left: 0px;
    }
    
    #locale1{
        margin-left: 0px;
    }
    .hours {
        background-color:#525962;
        display: grid;
        grid-template-columns: repeat(28, 1fr);
        height: 650px;
        padding: 30px;
        margin-bottom: 60px;
    }
}   