.seasonal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 1100px;
    margin-top: -40px;
}

.seasonalHeading {
    text-align: center;
    border-bottom: 1px solid black;
    height: 50px;
    width:500px;
    font-family: 'Lexend Zetta', sans-serif;
    grid-column-start: 3;
    justify-content:center;
}

.dishItems {
    grid-column-start: 1;
    grid-column-end: 5;
}  

@media (min-width: 835px) and (max-width: 1120px){
    .seasonal {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 1500px;
    }
}    

@media (min-width: 551px) and (max-width: 834px){
    .seasonal {
        margin-top: 900px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 1100px;
    }
    
    .dishItems {
        margin-top: 20px;
    }
}    

@media (min-width: 471px) and (max-width: 550px){
    .seasonal {
        margin-top: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 1500px;
    }

    .seasonalHeading {
        margin-top: 300px;
        text-align: center;
        border-bottom: 1px solid black;
        height: 50px;
        width:300px;
        font-family: 'Lexend Zetta', sans-serif;
        grid-column-start: 3;
        justify-content:center;
        font-size: 20px;
    }
}    

@media (min-width: 415px) and (max-width: 470px){
    .seasonal {
        margin-top: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 1800px;
    }

        .seasonalHeading {
        margin-top: 300px;
        text-align: center;
        border-bottom: 1px solid black;
        height: 50px;
        width:300px;
        font-family: 'Lexend Zetta', sans-serif;
        grid-column-start: 3;
        justify-content:center;
        font-size: 20px;
        margin-bottom: -270px;
    }
}    

@media (min-width: 321px) and (max-width: 414px){
    .seasonal {
        margin-top: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 1960px;
    }
    
    .seasonalHeading {
        margin-top: 300px;
        text-align: center;
        border-bottom: 1px solid black;
        height: 50px;
        width:300px;
        font-family: 'Lexend Zetta', sans-serif;
        grid-column-start: 3;
        justify-content:center;
        font-size: 20px;
        margin-bottom: -270px;
    }
}    

@media screen and (max-width: 320px) {
    .seasonal {
        margin-top: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        height: 1700px;
    }

    .seasonalHeading {
        margin-top: 200px;
        text-align: center;
        border-bottom: 1px solid black;
        height: 50px;
        width:300px;
        font-family: 'Lexend Zetta', sans-serif;
        grid-column-start: 3;
        justify-content:center;
        font-size: 20px;
        margin-bottom: -270px;
    }
}    