.about-container {
    background-color: #525962;
    height: 100vh;
}

.about-heading {
    text-align: center;
    color: #edeec9;
    font-family: 'Lexend Peta', sans-serif;
    padding-top: 20px;
}