.contact {
    height: 107vh;
    background-color: #525962;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

.contactContainer {
    grid-column-start: 5;
    grid-row-start: 3;
    text-align: center;
}

.contactForm {
    text-align: center;
}

.fieldCon {
    width: 35vw;
}

#messageForm {
    height: 50vh;
}

#idCon {
    height: 20px;
}

.buttonEmp {
    background-color: #30332e;
    color: white;
    border: 1px solid white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    grid-column-start: 3;
    margin-top: 50px;
    width:21vw;
    height:60px;
    font-family: 'Lexend Zetta', sans-serif;
    padding-bottom: 15px;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: -20px;
}

.contactHeading {
    color: #EDEEC9;
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
    grid-column-start: 5;
    grid-row-start: 3;
    margin-top: 25px;
    font-size: 15px;
    width: 50vw;
    border-bottom: 1px white solid;
    height:40px;
    margin-bottom: 10px;
    margin-top: 80px;
}

.footerCon {
    width: 100vw;
    margin-top: -100px;
}

#employmentButton {
    margin-bottom: -100px;
}

.footer {
    background-color: #525962;
    height: 90px;
}

.footerMessage {
    text-align: center;
    color: white;
    font-family: 'Lexend Peta', sans-serif;
    margin-top: 20px;
}

.socialFooter {
    margin-top:10px;
    text-align: center;
    background-color: #525962;
    width: 99vw;
}

.socialCon {
    margin-right: 20px;
    font-size: 25px;
    color: #3b5998;
    width: 20px;
}

.social2Con {
    margin-left: 20px;
    font-size: 25px;
    color: #1da1f2;
    width: 20px;
}

@media (min-width: 1357px) and (max-width: 1600px){
    .contact {
        height: 100vh;
        background-color: #525962;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    
    .contactContainer {
        height: 40vw;
        text-align: center;
    }
    
    .contactForm {
        text-align: center;
    }
    
    .fieldCon {
        width: 80vw;
    }
    
    #messageForm {
        height: 50vh;
    }
    
    #idCon {
        height: 20px;
    }
    
    .buttonEmp {
        background-color: #30332e;
        color: white;
        border: 1px solid white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
        grid-column-start: 3;
        width:70vw;
        height:60px;
        font-family: 'Lexend Zetta', sans-serif;
        padding-bottom: 15px;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    
    .contactHeading {
        color: #EDEEC9;
        font-family: 'Lexend Zetta', sans-serif;
        text-align: center;
        grid-column-start: 5;
        grid-row-start: 3;
        margin-top: -110px;
        font-size: 13px;
        width: 80vw;
        border-bottom: 1px white solid;
        height:40px;
        margin-bottom: 10px;
        margin-left: 2vw;
    }
    
    .footerCon {
        width: 100vw;
        margin-bottom: -30px;
    }
    
    #employmentButton {
        margin-bottom: -100px;
        display: none;
    }

    .socialFooterCon {
        margin-top: 25px;
    }

    .footerMessage {
        margin-top: -120px;
    }

} 

@media (min-width: 601px) and (max-width: 1356px){
    .contact {
        height: 100vh;
        background-color: #525962;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    
    .contactContainer {
        height: 40vw;
        text-align: center;
    }
    
    .contactForm {
        text-align: center;
    }
    
    .fieldCon {
        width: 80vw;
    }
    
    #messageForm {
        height: 50vh;
    }
    
    #idCon {
        height: 20px;
    }
    
    .buttonEmp {
        background-color: #30332e;
        color: white;
        border: 1px solid white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
        grid-column-start: 3;
        width:70vw;
        height:60px;
        font-family: 'Lexend Zetta', sans-serif;
        padding-bottom: 15px;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-top: 20px;
        margin-bottom: 80px;
    }
    
    .contactHeading {
        color: #EDEEC9;
        font-family: 'Lexend Zetta', sans-serif;
        text-align: center;
        grid-column-start: 5;
        grid-row-start: 3;
        margin-top: -110px;
        font-size: 13px;
        width: 80vw;
        border-bottom: 1px white solid;
        height:40px;
        margin-bottom: 10px;
        margin-left: 0;
    }
    
    .footerCon {
        width: 100vw;
    }
    
    #employmentButton {
        margin-bottom: -100px;
        display: none;
    }

    .footerMessage {
        margin-bottom: 20px;
    }
} 

@media (min-width: 501px) and (max-width: 600px){
    .contact {
        height: 100vh;
        background-color: #525962;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    
    .contactContainer {
        height: 40vw;
        text-align: center;
    }
    
    .contactForm {
        text-align: center;
    }
    
    .fieldCon {
        width: 35vw;
        width: 80vw;
    }
    
    #messageForm {
        height: 50vh;
    }
    
    #idCon {
        height: 20px;
    }
    
    .buttonEmp {
        background-color: #30332e;
        color: white;
        border: 1px solid white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
        grid-column-start: 3;
        margin-top: 50px;
        width:70vw;
        height:60px;
        font-family: 'Lexend Zetta', sans-serif;
        padding-bottom: 15px;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-top: 20px;
    }
    
    .contactHeading {
        color: #EDEEC9;
        font-family: 'Lexend Zetta', sans-serif;
        text-align: center;
        grid-column-start: 5;
        grid-row-start: 3;
        margin-top: -120px;
        font-size: 12px;
        width: 95vw;
        border-bottom: 1px white solid;
        height:40px;
        margin-bottom: 10px;
    }
    
    .footerCon {
        width: 100vw;
    }
    
    #employmentButton {
        margin-bottom: -100px;
    }

    .footerMessage {
        font-size: 12px;
    }

    .socialCon {
        font-size: 16px;
    }

    .social2Con {
        font-size: 16px;
    }

    .socialFooterCon {
        margin-top: 7px;
    }
} 

@media (min-width: 401px) and (max-width: 500px){
    .contact {
        height: 100vh;
        background-color: #525962;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    
    .contactContainer {
        height: 40vw;
        text-align: center;
    }
    
    .contactForm {
        text-align: center;
    }
    
    .fieldCon {
        width: 35vw;
        width: 80vw;
    }
    
    #messageForm {
        height: 50vh;
    }
    
    #idCon {
        height: 20px;
    }
    
    .buttonEmp {
        background-color: #30332e;
        color: white;
        border: 1px solid white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
        grid-column-start: 3;
        margin-top: 50px;
        width:70vw;
        height:60px;
        font-family: 'Lexend Zetta', sans-serif;
        padding-bottom: 15px;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-top: 20px;
    }
    
    .contactHeading {
        color: #EDEEC9;
        font-family: 'Lexend Zetta', sans-serif;
        text-align: center;
        grid-column-start: 5;
        grid-row-start: 3;
        margin-top: -150px;
        font-size: 12px;
        width: 95vw;
        border-bottom: 1px white solid;
        height:40px;
        margin-bottom: 10px;
    }
    
    #employmentButton {
        margin-bottom: -100px;
    }

    .footerCon {
        width: 100vw;
    }
    
    #employmentButton {
        margin-bottom: -100px;
    }

    .footerMessage {
        font-size: 12px;
    }

    .socialCon {
        font-size: 16px;
    }

    .social2Con {
        font-size: 16px;
    }

    .socialFooterCon {
        margin-top: 7px;
    }
} 

@media (min-width: 321px) and (max-width: 400px){
    .contact {
        height: 104vh;
        background-color: #525962;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    
    .contactContainer {
        height: 40vw;
        text-align: center;
        margin-bottom: 70px;
    }
    
    .contactForm {
        text-align: center;
    }
    
    .fieldCon {
        width: 35vw;
        width: 80vw;
    }
    
    #messageForm {
        height: 50vh;
    }
    
    #idCon {
        height: 20px;
    }
    
    .buttonEmp {
        background-color: #30332e;
        color: white;
        border: 1px solid white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
        grid-column-start: 3;
        margin-top: 50px;
        width:70vw;
        height:60px;
        font-family: 'Lexend Zetta', sans-serif;
        padding-bottom: 15px;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-top: 20px;
    }
    
    .contactHeading {
        color: #EDEEC9;
        font-family: 'Lexend Zetta', sans-serif;
        text-align: center;
        grid-column-start: 5;
        grid-row-start: 3;
        margin-top: -160px;
        font-size: 12px;
        width: 95vw;
        border-bottom: 1px white solid;
        height:40px;
        margin-bottom: 10px;
    }
    
    #employmentButton {
        margin-bottom: -100px;
    }

    .footerCon {
        width: 100vw;
    }
    
    #employmentButton {
        margin-bottom: -100px;
    }

    .footerMessage {
        font-size: 12px;
    }

    .socialCon {
        font-size: 16px;
    }

    .social2Con {
        font-size: 16px;
    }

    .socialFooterCon {
        margin-top: 7px;
    }
}    

@media (min-width: 300px) and (max-width: 320px){
    .contact {
        height: 101vh;
        background-color: #525962;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(9, 1fr);
    }
    
    .contactContainer {
        height: 40vw;
        text-align: center;
        margin-top: -30px;
    }
    
    .contactForm {
        text-align: center;
    }
    
    .fieldCon {
        width: 35vw;
        width: 80vw;
    }
    
    #messageForm {
        height: 50vh;
    }
    
    #idCon {
        height: 20px;
    }
    
    .buttonEmp {
        background-color: #30332e;
        color: white;
        border: 1px solid white;
        padding: 15px 32px;
        text-align: center;
        display: inline-block;
        font-size: 13px;
        margin: 4px 2px;
        cursor: pointer;
        grid-column-start: 3;
        margin-top: 50px;
        width:70vw;
        height:60px;
        font-family: 'Lexend Zetta', sans-serif;
        padding-bottom: 15px;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-top: 20px;
    }
    
    .contactHeading {
        color: #EDEEC9;
        font-family: 'Lexend Zetta', sans-serif;
        text-align: center;
        grid-column-start: 5;
        grid-row-start: 3;
        margin-top: 25px;
        font-size: 10px;
        width: 95vw;
        border-bottom: 1px white solid;
        height:40px;
        margin-bottom: 10px;
        margin-top: -140px;
    }
    
    .footerCon {
        width: 100vw;
    }
    
    #employmentButton {
        margin-bottom: -100px;
    }
    .footer {
        background-color: #525962;
        height: 90px;
    }
    
    .footerMessage {
        text-align: center;
        color: white;
        font-family: 'Lexend Peta', sans-serif;
        margin-top: 20px;
    }
    
    .socialFooter {
        margin-top:10px;
        text-align: center;
    }
    
    .socialCon {
        margin-right: 20px;
        font-size: 25px;
        color: #3b5998;
        width: 20px;
    }
    
    .social2Con {
        margin-left: 20px;
        font-size: 25px;
        color: #1da1f2;
        width: 20px;
    }
}  