.contact {
    height: 100vh;
    background-color: #525962;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(9, 1fr);
}

.contactContainer {
    grid-column-start: 5;
    grid-row-start: 3;
    text-align: center;
}

.contactForm {
    text-align: center;
}

.fieldCon {
    width: 35vw;
}

#messageForm {
    height: 50vh;
}

#idCon {
    height: 20px;
}

.buttonEmp {
    background-color: #30332e;
    color: white;
    border: 1px solid white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    grid-column-start: 3;
    margin-top: 50px;
    width:21vw;
    height:60px;
    font-family: 'Lexend Zetta', sans-serif;
    padding-bottom: 15px;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-top: -20px;
}

.contactHeading {
    color: #EDEEC9;
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
    grid-column-start: 5;
    grid-row-start: 1;
    margin-top: 25px;
    font-size: 15px;
    width: 70vw;
    border-bottom: 1px white solid;
    height:50px;
    margin-top: 200px;
}