*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

  html {
    box-sizing: border-box;
    }
  
  body {
    font-weight: 300;
    line-height: 1.6;
  }  

  #ot-widget-container4 {
    display:none;
  }
